@model RecipeCreateViewModel

@{
    ViewData["Title"] = "Create";
}

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="newRecipe" asp-action="Create">
            <div>
                <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
            <div class="card mx-auto">
                <div asp-validation-summary="ModelOnly" class="card-body text-danger"></div>
                <div class="card-body">
                    <div class="form-floating mb-0">
                        <img src="@Model.Recipe.RecipeThumb" class="card-img-top" alt="@Model.Recipe.Name" />
                        <input type="file" asp-for="Recipe.RecipeThumb" class="form-control" placeholder="@Model.Recipe.RecipeThumb" />
                        <label asp-for="Recipe.RecipeThumb" class="form-label"></label>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">New Recipe</h5>
                    <div class="form-floating mb-0">
                        <input type="text" asp-for="Recipe.Name" class="form-control" placeholder="@Model.Recipe.Name" />
                        <label asp-for="Recipe.Name" class="form-label"></label>
                        <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                    </div>
                    <div class="form-check form-switch m-3">
                        <input class="form-check-input" type="checkbox" asp-for="Recipe.Alcoholic" />
                        <label class="form-check-label" asp-for="Recipe.Alcoholic"></label>
                        <span asp-validation-for="Recipe.Alcoholic" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="Recipe.DrinkType" class="form-label"></label>
                        <select id="drinkType" name="drinkType" asp-for="Recipe.DrinkType"
                                asp-items="@Html.GetEnumSelectList(typeof(DrinkType))"
                                class="form-control"></select>
                        <span asp-validation-for="Recipe.DrinkType" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="Recipe.Instructions" class="form-label"></label>
                        <textarea asp-for="Recipe.Instructions" class="form-control" rows="5" placeholder="@Model.Recipe.Instructions">
                        </textarea>
                        <span asp-validation-for="Recipe.Instructions" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-1">
                        <input type="submit" id="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
